name: test
on: push
jobs: 
  test: 
    runs-on: ubuntu-22.04 
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: | 
          rsync -av ./ /root/ros2_ws/src/emcl2_ros2/
          source /opt/ros/humble/setup.bash
          cd /root/ros2_ws
          rosdep update
          rosdep install -i --from-path src --rosdistro humble -y 
          bash -vx ./src/emcl2_ros2/test/test.bash /root